.bot{
    height: 250px;
    background: darkred;
}

#idle{
    height: 250px;
    background: blue;
    margin-top: -250px;


}

#evade{
    height:250px;
    background: orange;

}
#energy{
    height: 500px;
    background: green;


}